html {
  font-family: "Open Sans";
  color: #fff;
  line-height: 1.42em;
  font-size: 16px;
  font-style: normal;
  scroll-behavior: smooth;
}

body,
html {
	height: 100%;
  
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.btn {
  display: flex;
  background: #F5170E;
  border-radius: 35px;
  width: 168px;
  height: 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 18px 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}

.btn--black {
  display: flex;
  border-radius: 35px;
  width: 168px;
  height: 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 18px 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #8E8E8E;
  color: #FFFFFF;
  justify-content: center;
}

.btn--black:hover {
  background: #2B2B2B;
  color: #FFFFFF;
  transition: .3s;
}

.btn:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  transition: .3s;
}

.btn--light {
  background: #FFFFFF;
  width: 135px;
  height: 55px;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  color: #F5170E;
  padding: 18px 30px;
}

.btn--crema {
  background: #FFFFFF;
  border: 1px solid #F5170E;
  border-radius: 35px;
  color: #F5170E;
}

.btn--crema:hover {
  background: #F5170E;
  color: #fff;
  transition: .3s;
}

.btn--light:hover {
  background: #F5170E;
  width: 135px;
  height: 55px;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  color: #fff;
  padding: 18px 30px;
  transition: .3s;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  margin-bottom: 51px;
}

.title--dark {
  color: #000000;
  margin-bottom: 37px;
}

.title--fire::after {
  content: url("../../img/flame.png");
  margin-left: 12px;
}

.wrapper {
  background-color: #001821;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  background: url("../../img/bgtop.png") center top no-repeat, url("../../img/bgbot.png") center bottom no-repeat;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1142px;
}

.hello__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 600px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.logo, .menu, .menu__item, .contacts {
  display: inline-block;
}

.menu {
  margin-left: 79px;
}

.menu__item {
  margin-right: 54px;
}

.menu__item:Last-child {
  margin-right: 0px;
}

.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.menu__link:hover {
  color: #DA0100;
  transition: .3s;
}

.contacts__phone {
  font-size: 26px;
  font-style: normal;
}

.contacts__phone:hover {
  color: #DA0100;
  transition: .3s;
}

.contacts__schedule {
  text-align: end;
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  font-style: normal;
}

.page-content {
  background: #FFFFFF;
  color: #303030;
  padding: 40px 0;
}