.offers {
  margin-top: 265px;
}

.offers__img {
  max-height: 144px;
}

.offers__list {
  margin-top: 51px;
}

.offers__item {
  display: inline-block;
  width: 362px;
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  margin-right: 22px;
}

.offers__item:last-child {
  margin-right: 0px;
}

.offers__content{
  padding: 33px 22px;
  color: #FFFFFF;
}
.offers__title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
}

.offers__features {
  display: inline-block;
}

.offers__feature {
  margin-right: 28px;
}

.offers__feature-img {
  display: inline-block;
}

.offers__feature-text {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #666666;
}

.offers__text {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #303030;
}
