.offers {
  margin-top: 246px;
}

.offer {
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__img {
  max-height: 144px;
} 

.offers__item {
  width: calc(100% / 3 - 19px);
}

.offers__item:last-child {
  margin-right: 0px;
}

.offers__content{
  padding: 33px 22px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.offers__title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
}


.offers__features {
  display: flex;
  flex-direction: row;
  
}

.offers__feature {
  display: flex;
  margin-right: 28px;
  align-items: center;
}

.offers__feature-text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #666666;
}

.offers__text {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
}

.offers__btn {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.offers__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}