.pagination {
  align-items: center;
  display: flex;
  justify-content: center; 
  margin-top: 53px;
}

.pagination__info, .pagination__list {
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__info {
  margin-right: 25px;
}

.pagination__item {
  text-align: center;
}

.pagination__item--active .pagination__link {
  background: #FFFFFF;
  color: #F5170E;
}

.pagination--dark .pagination__item--active .pagination__link {
  background: #F5170E;
  color: #FFFFFF;
}

.pagination__link:hover {
  background: #FFFFFF;
  color: #F5170E;
  transition: .3s;
}

.pagination--dark .pagination__link:hover {
  background: #F5170E;
  color: #FFFFFF;
  transition: .3s;
}

.pagination__link {
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
}